<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/css/base.css">
    <link rel="stylesheet" href="styles/css/lobby.css">
    <title>Rock, paper, scissors</title>
</head>

<body>

    <h1>Rock, paper, scissors</h1>
    <div class="content">
        <form class="form">
            <div class="form__group">
                <label for="username" class="form__label">Username</label>
                <input type="text" class="form__input" id="username" name="username" placeholder="Enter your username"
                    minlength="3" maxlength="20" required />
            </div>
            <input type="submit" class="btn submit-btn" value="Log in" disabled />
        </form>
    </div>

</body>

</html>