<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/base.css">
    <link rel="stylesheet" href="../styles/css/game.css">
    <title>Game</title>
</head>

<body>
    <main>
        <div class="game">
            <div class="game__rivals">
                <span class="game__rivals-login game__rivals-you"></span>
                vs
                <span class="game__rivals-login game__rivals-opponent"></span>
            </div>
            <div class="game__info">
                <p class="game__info-status">Choose your weapon</p>
                <div class="spinner hidden"></div>
            </div>
            <div class="game__choice">
                <button class="btn game__choice-btn" id="rock">Rock</button>
                <button class="btn game__choice-btn" id="scissors">Scissors</button>
                <button class="btn game__choice-btn" id="paper">Paper</button>
            </div>
            <div class="game__exit btnBlock">
                <button class="btn game__exit-logout">Logout</button>
            </div>
        </div>
    </main>
</body>

</html>