<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/css/base.css">
    <link rel="stylesheet" href="styles/css/lobby.css">
    <title>Lobby</title>
</head>

<body>

    <div class="content">
        <table class="players">
            <thead class="players__header">
                <tr>
                    <th class="login">Login</th>
                    <th class="loses">Loses</th>
                    <th class="papers">Papers</th>
                    <th class="rocks">Rocks</th>
                    <th class="scissors">Scissors</th>
                    <th class="wins">Wins</th>
                </tr>
            </thead>
            <tbody class="players__body">
                <tr class="players__item">
                    <td class="login">...</td>
                    <td class="loses">0</td>
                    <td class="papers">0</td>
                    <td class="rocks">0</td>
                    <td class="scissors">0%</td>
                    <td class="wins">Offline</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>