@import 'vars';

.players {
    border-collapse: collapse;
    background-color: #000;
    caret-color: transparent;
    user-select: none;

    &__header {
        & th {
            padding: 5*$r 30*$r;
            font-weight: bold;
            letter-spacing: 1*$r;
        }

        & th::after {
            display: block;
        }

        & .login:after {
            content: '👤';
        }

        & .papers:after {
            content: '✋';
        }

        & .rocks:after {
            content: '🤜';
        }

        & .scissors:after {
            content: '🤞';
        }

        & .wins:after {
            content: '🎉';
        }

        & .loses:after {
            content: '🚫';
        }
    }

    &__body {
        & tr:hover {
            background-color: #333;
            box-shadow: 0 0 5*$r #fff;
            cursor: pointer;
        }

        & td {
            min-width: 100*$r;
            font-size: 18*$r;
            border-top: 1pt solid #888;
            text-align: center;
            vertical-align: middle;
        }

        & td:first-child {
            text-align: left;
            align-items: center;
            font-weight: bold;
            padding-left: 20*$r;
        }

        & td:first-child:not(.you) {
            background-color: #008;
        }
    }
}


.you {
    display: flex;
    background-color: #334;
    box-shadow: inset 3*$r 0 0*$r #0f0, inset 5*$r 0 0 #ff0;

    &:after {
        content: '👈';
        margin: -2*$r 0 0 5*$r;
    }
}